*{
    font-family: 'Open Sans', sans-serif; 
}
section{
    padding: 60px 0px;
}



.navbar-brand{
    font-size: 2rem;
}

.html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
    background-color: #263348;
}

:hover.nav-link{
    color: white !important;
}
:hover.nav-item a{
    color: white !important;
}

.fan{
    background-color: #0F44FF;
}

#top{
    background-color: #0E1D34;
    background-image: url(/image/hero-bg.png);
}
.form-control{
    display: block;
    width: 100%;
    padding: 30px 0px 30px 0px;
}

.joshking{
    padding-right: 100px;
    margin-right: 100px;
}

.blueLine{
    height: 3px;
    width: 20px;
    background-color: #0F44FF;
}

.asake{
    font-size: 50px;
}

.aza{
    font-size: 50px;
    color: #0D42FF;
}

.coti{
    margin-top: 6rem;
}

.rexy{
    color: #0D42FF;
}

.blewLine{
    height: 3px;
    width: 60px;
    background-color: #0F44FF;
}

.a{
    border-radius: 0;
}

#blessing{
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/image/cta-bg.jpg);
    background-attachment: fixed;
}

#timaya{
    background:linear-gradient(rgba(9, 20, 41, 0.7),rgba(32, 33, 94, 0.7)), url(/image/testimonials-bg.jpg);
}


.carousel-item{
    height: 300px;  
}

.carousel-item img{
    border-radius: 50% !important;
    width: 100px !important;
    margin: auto !important;
    background-color: rgba(255, 255, 255, 0.418);
    padding: 10px; 
}

.star i{
    background-color: darkgoldenrod;
    color: darkorange !important;
}

#footer{
    background-color: #0E1D34;
}

.pic1{
    overflow: hidden;
}

.pic1:hover img{
    transform: scale(1.1);
}

.pic1 img{
    transition: all 0.5s ease;
}

.yuri{
    font-size: 30px !important;
}

.socials a{
    border-radius: 70px;
    border: 1px solid  white;
    padding: 5px 10px 5px 10px;
    color: rgb(151, 168, 168);
}

.socials a:hover{
    color: white;
}




