*{
    font-family: 'Open Sans', sans-serif; 
}
section{
    padding: 60px 0px;
}



.navbar-brand{
    font-size: 2rem;
}

.html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
    background-color: #263348;
}

.fan{
    background-color: #0F44FF;
}

#top{
    background-color: #0E1D34;
    background-image: url(/image/hero-bg.png);
}
.form-control{
    display: block;
    width: 100%;
    padding: 30px 0px 30px 0px;
}

.joshking{
    padding-right: 100px;
    margin-right: 100px;
}

.blueLine{
    height: 3px;
    width: 20px;
    background-color: #0F44FF;
}

.asake{
    font-size: 50px;
}

.aza{
    font-size: 50px;
    color: #0D42FF;
}

.coti{
    margin-top: 6rem;
}

.rexy{
    color: #0D42FF;
}

.blewLine{
    height: 3px;
    width: 60px;
    background-color: #0F44FF;
}

.a{
    border-radius: 0;
}

#blessing{
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/image/cta-bg.jpg);
    background-attachment: fixed;
}

#timaya{
    background-image: url(/image/testimonials-bg.jpg);
    align-items: center;
    justify-content: center;
}

.carousel-item img{
    border-radius: 1000px;
    width: 100px !important;
}





